@import "tailwindcss";

@theme {
  --font-calistoga: "Calistoga", serif;
  --font-poppins: "Poppins", sans-serif;

  --color-text-primary: theme('colors.stone.800');
  --text-background: theme('colors.stone.50');
  --text-foreground: theme('colors.stone.800');
}

button {
  cursor: pointer;
}

@layer base {
  * {
    @apply box-border font-poppins text-[var(--color-text-primary)];
  }

  button {
    @apply cursor-pointer;
  }
}
